# ==========================================
# Configuración de Base de Datos PostgreSQL
# ==========================================
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=tu_user
POSTGRES_PASSWORD=tu_password_segura
POSTGRES_DB=tu_base_de_datos

# ==========================================
# Configuración de Seguridad y JWT
# ==========================================
SECRET_KEY="tu_clave_secreta_jwt_aqui_generar_con_openssl"
ALGORITHM="algoritmo de seguridad"
ACCESS_TOKEN_EXPIRE_MINUTES="tu_tiempo_elejido"

# ==========================================
# Credenciales OAuth Google
# ==========================================
GOOGLE_CLIENT_ID="tu_google_client_id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="tu_google_client_secret"
GOOGLE_REDIRECT_URI="http://localhost:8000/api/v1/auth/google/callback"

# ==========================================
# Credenciales OAuth GitHub
# ==========================================
GITHUB_CLIENT_ID="tu_github_client_id"
GITHUB_CLIENT_SECRET="tu_github_client_secret"
GITHUB_REDIRECT_URI="http://localhost:8000/api/v1/auth/github/callback"
